<app-admin-navbar></app-admin-navbar>



<div class="container">
<div class="row">
    <div class="col-md-4 text-center">
            <a routerLink="add-remove-technology" class="nav-link"><button class="btn btn-primary btn-sm">Add /
                    Remove</button></a>
    </div>
    <div class="col-md-4 text-center">
            <a routerLink="current-trainings-info" class="nav-link"><button class="btn btn-primary btn-sm">Current
                    Training</button></a>
    </div>
    <div class="col-md-4 text-center">
            <a routerLink="completed-trainings-info" class="nav-link"><button class="btn btn-primary btn-sm">Completed
                    Trainings</button></a>
    </div>
</div>
<div class="row">
    <div class="col-md-6 text-center">
            <a routerLink="all-payments" class="nav-link"><button class="btn btn-primary btn-sm">
                    Payments
            </button></a>
    </div>
    <div class="col-md-6 text-center">
            <a routerLink="add-block-user-mentor" class="nav-link"><button class=" btn btn-primary btn-sm">Add /
                    Block</button></a>
    </div>
</div>
</div>



<router-outlet></router-outlet>
<!-- <app-footer></app-footer> -->