<app-user-navbar></app-user-navbar>



<div class="container">
        <div class="row">
            <div class="col-md-4 text-center">
                    <a routerLink="current-trainings" class="nav-link" style='color: white;'><button class="rounded btn btn-sm" style="background-color: blue;">Current
                            Training</button></a>
            </div>
            <div class="col-md-4 text-center">
                    <a routerLink="completed-trainings" class="nav-link" style="color: white;"><button class="rounded btn btn-sm" style="background-color: blue;">Completed
                            Trainings</button></a>
            </div>
            <div class="col-md-4 text-center">
                    <a routerLink="profile" class="nav-link" style="color: white;"><button class="rounded btn btn-sm" style="background-color: blue;"> Profile </button></a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 text-center">
                    <a routerLink="/search-trainings" class="nav-link" style="color: white;">
                        <button class="rounded btn btn-sm" style="background-color: blue;">
                            Search Technology
                        </button>
                    </a>
            </div>
            <div class="col-md-6 text-center" style="color: white;">
                    <a routerLink="payment-info" class="nav-link"><button class="rounded btn btn-sm" style="background-color: blue;">Receipt</button></a>
            </div>
        </div>
        </div>
        

<router-outlet></router-outlet>
<!-- 
<app-footer></app-footer> -->