<app-trainer-navbar></app-trainer-navbar>


<div class="container">
        <div class="row">
            <div class="col-md-6 text-center">
                    <a routerLink="trainer-profile" class="nav-link"><button class="rounded btn btn-sm " style="background-color: blue;">Trainer Profile</button></a>
            </div>
            <div class="col-md-6 text-center">
                    <a routerLink="trainer-current-trainings" class="nav-link"><button class="rounded btn btn-sm" style="background-color: blue;">Current
                            Training</button></a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 text-center">
                    <a routerLink="trainer-completed-trainings" class="nav-link"><button
                        class="rounded btn btn-sm" style="background-color: blue;">Completed
                        Trainings</button></a>
            </div>
            <div class="col-md-6 text-center" style="color: white;">
                    <a routerLink="trainer-payment-information" class="nav-link"><button
                        class="rounded btn btn-sm" style="background-color: blue;">Payment</button></a>
            </div>
        </div>
        </div>
        

<router-outlet></router-outlet>

<!-- <app-footer></app-footer> -->